# Use system user
su {{ system_user }} {{ system_user }}

# Create dedicated subdirectory for rotated files
createolddir 770 {{ system_user }} {{ system_user }}

# Frequency of logs rotation
hourly
maxage {{ logs_retention_period }}
rotate {{ logs_rotations }}

# Compression settings
{% if logs_compression %}
compress
delaycompress
{% else %}
nocompress
{% endif %}

# Naming of rotated files should be in the format:
dateext
dateformat -%Y%m%d_%H%M

# Settings to prevent misconfigurations and unwanted behaviours
ifempty
missingok
nomail
nosharedscripts
# Needed because rotated logs might be in a different filesystem,
# `nocopytruncate` fails with `failed to rename ...: Invalid cross-device link`
copy
copytruncate

{% for log in enabled_log_files %}
{{ log_dir }}/{{ log }}.log {
    olddir {{ archive_dir }}/archive_{{ log }}
    postrotate
        /usr/bin/juju-exec -u {{ unit_name }} LOGS_TYPE={{ log|upper }} JUJU_DISPATCH_PATH=hooks/rotate_mysql_logs {{ charm_directory }}/dispatch
    endscript
}
{% endfor %}
